<h1>Services</h1>


  <% @services.each do |service| %>
  <h1><%= service.name %></h1>
    <%= link_to service_path(service) do  %>
      <%=image_tag service.image%>
    <% end %>
  <% end %>


<hr>

<%= link_to "New Service", new_service_path %>
