<div class="jumbotron">
  <div class="row">
    <div class="col-md-3">
      <h1>Grace Photography</h1>
      <p>I capture the magic and joy of childhood, relationships and family in the most authentic way!</p>
    </div>
  </div>
</div>
