/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 // "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
 @import "bootstrap-sprockets";
 @import "bootstrap";

footer {
   position:fixed;
   left:0px;
   bottom:0px;
   height:30px;
   width:100%;
     z-index: 1;
   background: transparent;
}

.navbar-inner{
  background-color: #51635c;
  a{
    color: white;  font-size: 15px;
    line-height: 28px;
    letter-spacing: 2px;
    font-weight: 400;
    font-style: normal;
  }

}
