/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 // "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
 @import "bootstrap-sprockets";
 @import "bootstrap";


 strong {
   display: inline;
 }

.navbar-link {
  border: 0;
  margin: 0;
  padding: 0;
  font-size: 18px;
  color: black;
  a {
      color: white;
      font-size: 24px;
  }

}

a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
}

html,
body {
	height:100%;
}
#wrapper {
	min-height:100%;
	position:relative;
  background-size: cover;
  background-position: center;
}

header {
	background:#ededed;
}
.jumbotron{
  background-image: asset-url("grace.jpg");
  max-width: 100%;
  width: 100%;
  min-height:100%;
  padding: 0;
  margin: 0;
  position:fixed;
  top:0;
  left:0;
  z-index: -1;
  background-size: cover;
  background-position: center;
}
.col-md-3{
  margin-top: 8%;
}
#content {
}
.main-content{
  margin: 10%;
}


#footer {
  color: black;
	width:100%;
	height:40px;
	position:absolute;
	bottom:0;
	left:0;
  text-align: right;
}

.alert-success{
  float: right;

}

.logged{
  color: black;
  font-weight: 600;
}

.panel{
  width: 650px;
  height: 650px;
  .services{
    padding: 30px;
  }
}
